* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Inter', sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	color: #333;
	background-color: #fff;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	background-color: #F0E7E2;
	height: 120px;
	width: 100%;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.70);
}

section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5rem;
	width: 100%;
	height: 100%;
	border: none;
}

 .section-title {
	text-transform: uppercase;
	margin-bottom: 3rem;
}

h3 {
	margin: 1rem 0;
	color: #292929;
	padding-bottom: .5rem;
}

.colors {
	display: flex;
}

.color-palette {
	display: flex;
	flex-wrap: wrap;
	width: 90vw;
	height: 100%;
	margin: 0 auto;
}

.color-palette div {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	width: min(300px, 100%);
	height: min(500px, 20vh);
	border: none;
	color: #000;
	font-weight: 500;
}

.earth-monochromatic-1 {
	background-color: #F6D6B6;
}

.earth-monochromatic-2 {
	background-color: #EEB981;
}

.earth-monochromatic-3 {
	background-color: #E69947;
}

.earth-monochromatic-4 {
	background-color: #C5731B;
}

.earth-monochromatic-5 {
	background-color: #905414;
}

.fonts {
	justify-content: center;
	background-color: #DCE6F2;
}

.fonts-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	gap: 2rem;
}

.fonts-container div {
	background-color: rgb(233, 233, 233);
	background-color: #F2F2F2;
	padding: 3rem;
	min-width: min(500px, 100%);
	border-radius: .2rem;
	flex-grow: 1;
}

.regular {
	font-weight: normal;
	font-style: normal;
}

.bold {
	font-weight: bold;
	font-style: normal;
}

.italic {
	font-weight: normal;
	font-style: italic;
}

.noto-sans-display {
	font-family: 'Noto Sans Display', sans-serif;
}

.m-plus-rounded-1c {
	font-family: 'M PLUS Rounded 1c', sans-serif;
}

.noto-serif-display {
	font-family: 'Noto Serif Display', serif;
}

.font-types {
	border: solid 1px lightgray;
	background-color: rgb(245, 245, 245);
	border-radius: .3rem;
	padding: 1rem;
	margin: 1rem 0;
}

.font-types:focus {
	outline: none;
	background-color: #fff;
}

.text-styles {
	background-color: #FAEDF4;
}

.text-container div {
	margin-bottom: 1.7rem;
	width: 100%;
	height: 100%;
	border: none;
	color: #000;
	font-weight: 500;
}
